<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="'Terug'" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{playground?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="playground">
    <ion-img *ngIf="playground.image" [src]="'assets/playgrounds/' + playground.image"></ion-img>
    <ion-card-header>
      <ion-card-subtitle color="secondary">
        <ng-container *ngIf="playground.submunicipality; else municipality">{{ playground.submunicipality }}
        </ng-container>
        <ng-template #municipality>{{ playground.municipality }}</ng-template>
      </ion-card-subtitle>
      <ion-card-title color="primary">{{ playground.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Richtleeftijd: <ng-container *ngIf="playground.targetAgeFrom && !playground.targetAgeTo; else dateRange">vanaf
          {{
          playground.targetAgeFrom }} jaar</ng-container>
        <ng-template #dateRange>{{ playground.targetAgeFrom }} - {{ playground.targetAgeTo }} jaar</ng-template>
      </p>

      <h2 class="pg-h2">Activiteiten</h2>
      <ion-chip outline *ngFor="let activity of playground.activities">
        <ion-label>{{ activity | mapActivity }}</ion-label>
      </ion-chip>

      <ng-container *ngIf="playground.lat && playground.lng">
        <h2 class="pg-h2">Locatie</h2>
        <ion-img *ngIf="playground.imageMap" [src]="'assets/playgrounds/' + playground.imageMap"></ion-img>
        <ion-button size="small" expand="block" color="primary" target="_blank" role="noopener" href="https://www.google.be/maps/search/{{playground.lat}},{{playground.lng}}" title="Bekijk {{ playground.name }} op Google Maps">Bekijk op Google Maps</ion-button>
      </ng-container>
    </ion-card-content>
  </ion-card>
</ion-content>