<ion-header translucent>
  <ion-toolbar>
    <ion-title>Filter</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      Leeftijd ({{filterValues.age.lower}} - {{filterValues.age.upper}})
    </ion-list-header>

    <ion-item>
      <ion-range [dualKnobs]="true" [pin]="false" [min]=LOWER_AGE [max]=UPPER_AGE step="1" snaps="true"
        [value]=filterValues.age (ionChange)="ageChanged($event)">
        <ion-icon size="small" slot="start" name="person-outline"></ion-icon>
        <ion-icon slot="end" name="person-outline"></ion-icon>
      </ion-range>
    </ion-item>

    <ion-list-header>
      Activiteiten
    </ion-list-header>
    <ion-item *ngFor="let activity of filterValues.activities">
      <ion-label>{{activity.label}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="activity.isChecked"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" size="default" (click)="applyFilter()">Criteria toepassen</ion-button>
  </ion-toolbar>
</ion-footer>