<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Over
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Over</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>Algemeen</h1>
  <p>
    Deze officieuze applicatie is ontwikkeld als verlengstuk op de Speelpleingids gepubliceerd door de Jeuggdienst Deinze en Stad Deinze. 
    De gids en informatie met betrekking tot de speelpleinen van Stad Deinze is te vinden op <a href="https://www.deinze.be/speelpleinen" target="_blank" rel="noopener">deinze.be/speelpleinen</a>. 
  </p>
  <h1>Gebruikersgegevens</h1>
  <p>
    Deze applicatie maakt geen gebruik van cookies om gebruikersgegevens te verzamelen of bij te houden. 
    Mocht dit in de toekomst wijzigen dan zal dit onderhevig zijn aan instemming door de gebruiker. 
  </p>
  <h1>Feedback</h1>
  <p>
    Constructieve feedback kan via <a href="https://github.com/MrJean/ionic-speelpleingids-deinze/issues" target="_blank" rel="noopener">GitHub Issues</a> of <a href="https://twitter.com/messages/compose?recipient_id=14053676" target="_blank" rel="noopener">een Twitter DM</a> bezorgd worden. 
  </p>
  <h1>Disclaimer</h1>
  <p>
    De ontwikkeling van de applicatie is <a href="https://github.com/MrJean/ionic-speelpleingids-deinze/" target="_blank" rel="noopener">volledig open bron</a> en valt onder de categorie hobby project. 
    Dit betekent dat er geen verplichtingen zijn met betrekking tot de verdere ontwikkeling van de applicatie. 
    De applicatie maakt gebruik van bepaalde data en beelden die terug te vinden zijn in de gids en informatie verstrekt door Stad Deinze, aangevuld met applicatie speficieke data. 
    Voor het icoon van de applicatie is gebruik gemaakt van het logo van Stad Deinze dat geroteerd is om eruit te zien als smiley. 
  </p>
</ion-content>
